@import "tailwindcss";


.body-container {
    max-width: 1920px;  /* Limita a largura máxima do site */
    margin: 0 auto;     /* Centraliza o conteúdo na tela */
    width: 100%;        /* Garante que o conteúdo ocupe 100% da largura disponível até 1500px */
    box-sizing: border-box; /* Evita que padding e border aumentem o tamanho total */
    padding: 0 20px;    /* Adiciona um espaçamento interno para evitar que o conteúdo encoste nas bordas */
  }
  
  .header-custom {
    background-color: #d1fae5; /* bg-green-100 */
    padding: 1.5rem 1rem; /* py-6 px-4 */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
  }
  
  .container {
    max-width: 64rem; /* max-w-4xl */
    margin: 0 auto; /* mx-auto */
    display: flex;
    align-items: center;
    gap: 12px; /* espaço entre logo e texto */
  }
  
  
  .titulo {
    font-size: 1.875rem; /* text-3xl */
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .subtitulo {
    font-size: 20px; /* text-sm */
    color: #065f46; /* text-green-800 */
    margin-top: 0.25rem; /* mt-1 */
    display: flex;
    align-items: center;
    gap: 12px; /* espaço entre logo e texto */
  
  }
  
  .nav-menu {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
  }
  
  .nav-link {
    color: #047857;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .conteudo-principal {
    max-width: 64rem;
    margin: 0 auto;
    padding: 2.5rem 1rem; /* py-10 px-4 */
  }
  
  .rodape {
    background-color: #d1fae5;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.875rem;
    color: #047857; /* text-green-700 */
  }